extends ../application.pug

block content
  .container
    .card.card-block
      .row
        .col-md-4.hidden-md-down
          img(src=book.imageURL alt=book.title + " Cover Image" class="img-fluid")
        .col-xs-12.col-md-8
          h2= book.title
          h5= book.author
          p= book.description
          .row
            .col-xs-3.offset-xs-6
              a(href="/books/" + book.id + "/edit" class="btn btn-warning btn-block") EDIT BOOK
            .col-xs-3
              form(action="/books/" + book.id method="POST")
                input(type="hidden" name="_method" value="DELETE")
                button(type="submit" class="btn btn-danger btn-block" data-book=book.id) DELETE
